bin/
data/

__pycache__/
*.pyc
*.pyo
node_modules/
*.o
*.out
*.log
*.tmp
*.bak
*.swp
data/
libs/
Lib/
.env
*.csv
*.png
*.fdt
*.zip
*.rhd
*.xml
*.set
*#*
wu_venv/Lib/site-packages/
wu_venv/**/__pycache__/
wu_venv/**/*.pyc
wu_venv/Scripts/*.exe
wu_venv/Scripts/*.bat
wu_venv/Scripts/activate*
wu_venv/Scripts/deactivate*
wu_venv/pyvenv.cfg
wu_venv/share/
wu_venv/man/
.DS_Store
Thumbs.db

wu_venv/ssEEG/rat_eeg_model/dataset
wu_venv/ssEEG/11_19_24 experiment/csv_files